
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
$col-simpson : hsl(52, 100%, 48%);

//font
@mixin ft_noto($fontSize:60px, $font-weight:200, $letter-spacing:-1px, $line-height:130%){
  font-family: 'Noto Sans KR', sans-serif;
  font-size: $fontSize;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}


//shape
@mixin simpson{
  fill:$col-simpson;
  stroke: 1px solid black;
}

//utilize
@mixin preloader{
  position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%;
  overflow: visible; background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}





h1{
  @include ft_noto;
  margin-bottom: 40px;
}


path{
  @include simpson; //심슨테마
}

//pre-loader
.js div#preloader {
  @include preloader;
}